body {
  background-image: url("https://images.pexels.com/photos/365633/pexels-photo-365633.jpeg?cs=srgb&dl=pexels-miriam-espacio-365633.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
